@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


.gradient-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(120deg, #ffffff 0%, #5c82ff 100%);
  background-size: 200% 200%;
  animation: gradient 8s ease infinite;
  filter: blur(20px);
  z-index: -1;
}
.title{
  margin-top: 5rem;
  color: black;
  font-family: 'Roboto Mono', monospace;

}

.title span {
  opacity: 0;
  transition: opacity 0.5s;
}


.container {
  position: relative;
  margin-top: 2rem;
  transition: all 0.5s ease-in-out; 
}

.sub-container {
  opacity: 0;
  display: none;
  margin-top: 2rem;
  transition: opacity .5s ease-in-out;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.line-numbers {
   display: flex;
   border-radius: 5px;
   overflow-x: auto; 
}

.line-numbers .lines {
   padding: 10px;
   counter-reset: line;
   user-select: none;

   line-height: 1.5rem;

   background-color: #ffffff;
   color: #8d8d8d;

   font-family: 'Courier New', monospace;

   white-space: nowrap;
   overflow-x: auto;
}

.line-numbers .lines div::before {
   counter-increment: line;
   content: counter(line);
   display: block;
   text-align: right;
}

textarea {
   overflow: hidden;
   resize: none;
   line-height: 1.5rem;
   font-family: 'Courier New', monospace;
   padding: 10px;
   border-radius: 0;
   white-space: nowrap;
   overflow-x: auto;
}

#results li,
#variables li {
 transition: all .5s ease-in-out; 
}

.btn {
 transition: background-color .5s ease, color .5s ease; 
}

.flex {
 flex-wrap: wrap; 
}

@media (min-width:640px) {
 .container {
     max-width: 800px; 
 }
 .flex {
     flex-direction: row; 
 }
}
textarea {
  font-size: 14px;
}
